# Bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Logs and outputs
*.log
output/
processed/
embeddings/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# System files
data/
Thumbs.db
